.protograph-card{
	border:1px solid black;
	border-radius: 2%;
	height:420px;
}
.protograph-tabs{
	display:flex;
	align-items: center;
    justify-content: center; 
	font-size:18px;
}
.protograph-value{
	width:75px;
	height:210px;
	display:inline-block;
}
#protograph_color{
	background-color: #4A90E2;
	color:white;
}
.protograph-bottle{
	width:30px;
	height:160px;
	margin-top:25px;
	margin-left: 21px;
	border: 1px solid black;
}
.hide-content{
  display: none;
}
.protograph-tab{
	text-align: center;
	margin: 8px;
}
.protograph-tab-container:hover{
	background-color: #4A90E2;
	color:white;
	cursor:pointer;
}
.protograph-rainfall{
	text-align: center;
	font-size: 12px;
	top:20px;
	position: relative;
}
.protograph-season{
	text-align: center;
	font-size: 15px;
	height:37.78px;
	width:85px;
	margin-left: -28px;
}


.protograph-annual-header{
	font-size: 14px;
	margin:10px;
}
.protograph-annual-value{
	font-size: 24px;
	font-weight: bold;
	margin:10px;
}
.protograph-average{
	margin-top: 15px;
}
.protograph-ticks{
	margin-top: 17px;
	z-index: 20;
}
hr{
	margin-top:-6.5px;
	margin-left: 0;
	position:relative;
	border-color:rgba(250,250,250,0.7);
}
.protograph-average-line{
	height:2px;
	width:20px;
	background-color: red;
	margin-left:11px;
	display:inline-block;
}
.protograph-average-text{
	display:inline-block;
	position: relative;
	left:8px;
	top:2px;
}
.protograph-water{
	z-index: -1;
	position: relative;
}
#ProtoScreenshot {
  width: 450px;
  padding: 10px 15px;
  height: 450px;
  overflow: hidden;
}

