body{
	margin:0 !important;
}
.protograph-card{
	border:1px solid #DDD;
	border-radius: 1%;
	height:420px;
	overflow: hidden;
	position: relative;
	margin-left: 2%;
	margin-top:2%;
}
.protograph-tabs{
	display:flex;
	align-items: center;
    justify-content: center; 
	font-size:14px;
	color:#666;
	overflow-x:auto;
}
.protograph-svg{
	position:absolute;
	bottom:-14px;
	left:-12px;
}
.protograph-place{
	margin-left:10px;
	margin-top:3px;
	font-size: 12px;
	color:#999;
}
.protograph-site{
	margin-top:-3px;
	font-size: 9px;
	color:#999;
	margin-left: 2%;
}
.protograph-header-cloud{
	width:26px;
	height:20px;
	margin-right: 10px;
	margin-top: 10px;
	float:right;
	display:inline-block;
	image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;          
    image-rendering: -o-crisp-edges;            
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: optimize-contrast;    
    -ms-interpolation-mode: nearest-neighbor;
}
.protograph-body-cloud{
	width:130px;
	height:100px;
	margin-right: 10px;
	margin-top: 10px;
	display:inline-block;
	opacity: 0.05;
	position: absolute;
	left:100px;
	overflow: hidden;
	margin-right:-16px;
	image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;          
    image-rendering: -o-crisp-edges;            
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: optimize-contrast;    
    -ms-interpolation-mode: nearest-neighbor;
}
.protograph-body-mobile-cloud{
	width:130px;
	height:100px;
	margin-right: 10px;
	margin-top: 10px;
	float:right;
	display:inline-block;
	opacity: 0.05;
	overflow: hidden;
	margin-right:-16px;
	image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;          
    image-rendering: -o-crisp-edges;            
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: optimize-contrast;    
    -ms-interpolation-mode: nearest-neighbor;
}
.protograph-value{
	width:75px;
	height:210px;
	position:absolute;
	display:inline-block;
}
#protograph_color{
	background-color: #4A90E2;
	color:white;
}
.protograph-bottle{
	width:28px;
	height:130px;
	margin-top:25px;
	margin-left: 24px;
	position:relative;
	top:0;
	background-color: rgba(219,219,220,0.5);
	z-index: -3;
}
.hide-content{
	display: none;
}
.protograph-tab{
	text-align: center;
	margin: 8px;
}
.protograph-tab-container{
	border:1px solid #F8F8F8;
}
.protograph-tab-cont{
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
.protograph-tab-cont::-webkit-scrollbar { 
    display: none; 
}
.protograph-tab-container:hover{
	color:black;
	cursor:pointer;
}
.protograph-rainfall{
	text-align: center;
	font-size: 12px;
	top:20px;
	color:black;
	margin-right:-2px;
	position: relative;
}
.protograph-season{
	text-align: center;
	font-size: 12px;
	height:37.78px;
	margin-left: -28px;
	width:85px;
	color:#666;
	margin-top: 30px;
	position: absolute;
	top:109px;
}

.protograph-annual-header{
	font-size: 14px;
	color:#999;
	margin:5px 0 0 10px;
}
.protograph-annual-average{
	margin:0;
	margin-left: 10px;
}
.protograph-annual-value{
	margin:0;
	margin-left:10px;
	font-size:14px;
	color:black;
	font-weight: bold;
}
.protograph-values{
	position:relative;
}
.protograph-right{
	float:right;
	margin-top: -80px;
	margin-right:5px;
}
.protograph-average{
	margin-top: 18px;
	margin-bottom: -13px;
}
.protograph-ticks{
	margin-top: 17px;
	z-index: 20;
	position: absolute;
	top:0;
}
hr{
	margin-top:-6.7px;
	margin-left: 0;
	position:relative;
	border-color:rgba(250,250,250,0.7);
}
.protograph-average-line{
	height:2px;
	width:20px;
	background-color: red;
	margin-left:11px;
	display:inline-block;
}
.protograph-bottle-average{
	width:15px;
	height:2px;
	position:absolute;
	left:0;
	background-color: red;
	margin-left:0px;
	z-index:20;
}
.protograph-average-text{
	display:inline-block;
	position: relative;
	left:8px;
	font-size: 12px;
	color:#999;
	top:2px;
}
.protograph-water{
	z-index: -1;
	bottom: 0;
	left: 0;
	width:28px;
	background-color: red;
}
#ProtoScreenshot {
  width: 450px;
  padding: 10px 15px;
  height: 450px;
  overflow: hidden;
}

